.user {
    position: absolute;
    top: 35px;
    right: 37px;
    display: flex;
    gap: 22px;
}

.user h2 {
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 42px;
text-align: right;
color: #000000;
}

.user h2 span {
    display: block;
}